.item-lista-perfil {
    padding: 2vh;
    display: flex;
    align-items: center;
    border-radius: var(--round-border-grande);
    font-size: 90%;
    height: 15vh;
    position: relative;
    margin: 1vh;
}

.item-lista-perfil > * {
    margin: 0 1.5vw;
}

.item-lista-perfil:hover {
    background-color: var(--platinum);
}

.datas-apresentacao {
    display: flex;
    flex-direction: column;
    line-height: 200%;
}

.previews-slides-elementos {
    display: flex;
    overflow: visible;
    position: relative;
    flex: 0 0;
    width: fit-content;
}

.previews-slides-elementos > * {
    margin: 0.6vh 0 0 1vw;
}