.previews-slides-elementos {
    display: flex;
    overflow: visible;
    position: relative;
    flex: 0 0;
    width: fit-content;
}

.item-lista-perfil.apresentacao .botao-quadradinho.quadradinho-canto {
    right: 1vh;
    top: 1vh;
    opacity: 1;
    cursor: pointer;
}

.previews-slides-elementos > * {
    margin: 0.6vh 0 0 1vw;
}

.container-botoes-item-lista-perfil.apresentacoes {
    margin-left: 3vw;
    flex: none;
}

.container-carrossel-previews {
    flex: 1 1;
    height: 100%;
    overflow: hidden;
}