#perfil {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
}

#cabecalho-perfil {
    height: 25vh;
    padding: 5vh 2vw;
    display: flex;
    align-items: center;
    flex: 0 0;
}

.container-seta-voltar {
    width: 20vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seta-voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 8vw;
    background-color: var(--azul-forte);
    border-radius: 100vw;
    color: white;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

#seta-voltar:hover {
    background-color: var(--azul-oxford);
}

#organizador-perfil {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 1.5vw;
    height: 100%;
}

#barra-lateral-perfil {
    height: 100%;
    width: 20%;
    flex: 0 0;
}

#menu-perfil {
    border-right: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vh;
    padding-top: 5vh;
    height: 60%;
    width: 100%;
}

#menu-perfil a {
    padding: 3vh;
    color: black;
    text-decoration: none;
    text-align: center;
}

#menu-perfil a:hover {
    filter: drop-shadow(1px 1px 0.5px rgba(0,0,0,0.2));
}

#menu-perfil a:active {
    filter: drop-shadow(1px 1px 0.5px rgba(0,0,0,0.2));
}

.pagina-perfil {
    flex: 1;
    overflow: hidden;
}

.container-botoes-item-lista-perfil {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.item-lista-perfil {
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--round-border-grande);
    font-size: 90%;
    height: 15vh;
    position: relative;
    margin: 1vh;
    background-color: var(--platinum);
}

.dados-verticais-item-lista-perfil {
    display: flex;
    flex: 0 1;
    flex-direction: column;
    line-height: 200%;
    min-width: fit-content;
    margin-right: 1vw;
}

.dados-verticais-item-lista-perfil > div > * {
    display: inline;
    width: auto;
}
