#div-botoes {
    display: flex;
    width: 100%;
    padding: 4px 4px 0 4px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
  
#div-botoes > .itens {
    width: 100%;
}

#container-adicionar-slide {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    padding: 6vh;
    position: absolute;
    border: 0.5vh solid lightgray;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#p-adicionar-slide {
    font-size: 170%;
    margin-bottom: 1.2vh;
}

#abas {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
}
  
#abas button {
    outline: none;
    cursor: pointer;
    padding: 1vh 0.9vh 0.7vh 1vh;
    width: auto;
    border-radius: 0.7vh;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 110%;
}

.botao-aba {
    position: relative;
}

.botao-aba:hover {
    box-shadow: 1px 3px 7px rgba(0,0,0,0.5);
}

.tampar-shadow {
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    left: 0;
    bottom: 0;
    z-index: 30;
}

.configuracoes {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 0.7vh;
}

.container-botao-limpar {
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.botoes-direita {
    position: relative;
    left: 83%;
    width: 4vh;
    pointer-events: all;
    display: flex;
    flex-direction: column;
}

.configuracoes-texto {
    display: flex;
    flex-direction: column;
    width: 84%;
}

.linha-configuracoes-texto {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0.6vh;
}

.negItaSub {
    display: flex;
    flex: 1 1;
    flex-wrap: nowrap;
}

.div-sliders {
    display: flex;
}

.botao-configuracao-bool {
    width: 4vh;
    height: 4vh;
    text-align: center;
    border-radius: 0.7vh;
    /* border: 1.5px solid darkgray; */
    background-color: #efefef;
    margin: 0.9vh 0vh 0vh 0.9vh;
    line-height: 4vh;
    position: relative;
}

.botao-alinhamento {
    padding: 0.8vh;
}

.botoes-configuracao {
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    height: 4vh;
    width: auto;
    border-radius: 0.7vh;
    border: none;
    margin: 1vh 0vh 0 1vh;
}

.combo-fonte {
    flex: 1;
}

.opcoes-fonte {
    height: 4vh;
    border-radius: 0.7vh;
}

#cor-texto {
    line-height: 105%;
    /* padding-top: ; */
}

.cor-texto {
    position: relative;
    background-color: #000;
    left: 0.4vh;
    width: 2.8vh;
    height: .8vh;
}

.container-cor-fundo {
    height: 3vh;
    width: 3vh;
    margin-left: 0.5vh;
    position: relative;
}

.cor-fundo {
    width: 100%;
    height: 100%;
    position: absolute;
}

.quadradinho-transparente {
    position: absolute;
    width: 100%;
    height: 100%;
}

.div-painel-cor {
    position: absolute;
}

.painel-cor {
    position: relative;
    left: 1vh;
    top: 1vh;
    background-color: white;
    border-radius: 0.7vh;
    border: 1.2px solid darkgray;
}

.clicado {
    box-shadow: inset 0px 2px 7px #a3a3a3;
}

.botao-adicionar {
    text-align: center;
}

.lista-slides-padrao {
    display: flex;
}

.titulo-secao-popup {
    margin: 1.7vh 0 0 0.7vh;
    padding: 0.9vh 1.5vh;
}