#abas {
    overflow: hidden;
    /* border: 1px solid darkgray; */
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
}
  
#abas button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 1.2vh 0.9vh;
    width: auto;
    border-radius: 0.7vh;
    /* border-left: 1px solid darkgray; */
}

#abas button:hover {
    background-color: #ddd;
}

.configuracoes-texto {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.botao-configuracao-bool {
    padding: 1vh;
    min-width: 4vh;
    height: 4vh;
    text-align: center;
    border-radius: 0.7vh;
    border: 1.5px solid darkgray;
    margin: 1vh 0vh 0vh 1vh;
}

.botao-alinhamento {
    padding: 0.8vh;
}

.botoes-configuracao {
    display: flex;
    flex-direction: row;
    height: 4vh;
    width: auto;
    border-radius: 0.7vh;
    border: 1.5px solid darkgray;
    margin: 1vh 0vh 1vh 1vh;
}

.opcoes-fonte {
    height: 4vh;
    border-radius: 0.7vh;
}

#cor-texto {
    line-height: 90%;
    padding-top: 0.8vh;
}

.div-painel-cor {
    position: absolute;
}

.painel-cor {
    position: relative;
    left: 1vh;
    top: 1vh;
    background-color: white;
    border-radius: 0.7vh;
    border: 1.2px solid darkgray;
}

.clicado {
    box-shadow: inset 0px 2px 5px #c1c1c1;
}
