#abas {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
}
  
#abas button {
    outline: none;
    cursor: pointer;
    padding: 1vh 0.9vh 0.5vh 1vh;
    width: auto;
    border-radius: 0.7vh;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 110%;
}

.botao-aba-titulo:hover {
    background-color: #e6e6ff;
}

.botao-aba-paragrafo:hover {
    background-color: #c6ecc6;
}

.botao-aba-tampao:hover {
    background-color: #ffd6cc;
}

.configuracoes {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.container-botao-limpar {
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.botoes-direita {
    position: relative;
    left: 85%;
    pointer-events: all;
    display: flex;
    flex-direction: column;
}

.configuracoes-texto {
    display: flex;
    flex-direction: column;
    width: 84%;
}

.linha-configuracoes-texto {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-sliders {
    display: flex;
}

.botao-configuracao-bool {
    width: 4vh;
    height: 4vh;
    text-align: center;
    border-radius: 0.7vh;
    border: 1.5px solid darkgray;
    margin: 1vh 0vh 0vh 1vh;
    line-height: 4vh;
}

.botao-alinhamento {
    padding: 0.8vh;
}

.botoes-configuracao {
    display: flex;
    flex-direction: row;
    height: 4vh;
    width: auto;
    border-radius: 0.7vh;
    border: 1.5px solid darkgray;
    margin: 1vh 0vh 0 1vh;
}

.combo-fonte {
    flex: 1;
}

.opcoes-fonte {
    height: 4vh;
    border-radius: 0.7vh;
}

#cor-texto {
    line-height: 105%;
    /* padding-top: ; */
}

.cor-texto {
    position: relative;
    border: 0.02px solid gray;
    background-color: #000;
    left: 0.4vh;
    width: 2.8vh;
    height: .8vh;
}

.cor-fundo {
    height: 3vh;
    width: 3vh;
    margin-left: 0.3vh;
    border: 0.02px solid gray;
}

.div-painel-cor {
    position: absolute;
}

.painel-cor {
    position: relative;
    left: 1vh;
    top: 1vh;
    background-color: white;
    border-radius: 0.7vh;
    border: 1.2px solid darkgray;
}

.clicado {
    box-shadow: inset 0px 2px 5px #c1c1c1;
}

.botao-adicionar {
    text-align: center;
}