#div-botoes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 100;
  height: auto;
  position: relative;
  justify-content: center;
}

#div-botoes .itens {
  min-width: 5.2vw;
  max-width: 5.2vw;
  min-height: 8.5vh;
  margin: 1vh 1vh 0 0;
  text-align: center;
  color: var(--platinum-forte);
  background: var(--azul-fraco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 6px 7px rgba(0,0,0,0.7);
  padding: 0.5vh;
  overflow: hidden;
  word-break: break-word;
}

.container-adicionar {
  width: 18vw;
  position: relative;
}

.container-adicionar.acima #div-botoes {
  bottom: 0;
}

.container-adicionar.acima #movedor-botoes-adicionar {
  bottom: 0;
  top: initial;
}

.container-adicionar.acima #container-botoes-adicionar {
  top: 0;
  bottom: initial;

}
 
#movedor-botoes-adicionar {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

#container-botoes-adicionar {
  padding: 0.5vh 0.5vh 1.5vh;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#div-botoes .itens:hover {
  background-color: var(--azul-forte);
}

.linha-flex-adicionar {
  display: flex;
  width: 100%;
}

#adicionar-slide {
  position: relative;
  width: 100%;
  background-color: var(--azul-forte);
  margin: 0;
}

#adicionar-slide:hover {
  background-color: var(--azul-oxford);
}
