#div-botoes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5vh;
  z-index: 100;
  height: auto;
  position: relative;
  justify-content: center;
  width: 100%;
  z-index: 100;
  height: auto;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
}

#div-botoes .itens {
  min-width: 5.2vw;
  max-width: 5.2vw;
  min-height: 4.2vw;
  margin: 1vh 1vh 0 0;
  text-align: center;
  color: var(--platinum-forte);
  background: var(--azul-fraco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 6px 7px rgba(0,0,0,0.7);
  padding: 0.5vh;
  overflow: hidden;
  word-break: break-word;
}
 
#container-botoes-adicionar {
  padding: 0.5vh 0.5vh 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 0;
  overflow: hidden;
  position: absolute;
}

#div-botoes .itens:hover {
  background-color: var(--azul-forte);
}
