.coluna-lista-slides {
  width: 23vw;
  height: 60vh;
  position: relative;
  margin-top: -3vh;
}

.coluna-lista-slides * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gradiente-coluna {
  width: 100%;
  height: 3vh;
  position: absolute;
  z-index: 60;
  pointer-events: none;
}

.gradiente-coluna.embaixo {
  top: 57vh;
  background-image: linear-gradient(to bottom, transparent,  white);
}

.gradiente-coluna.emcima {
  top: 0;
  background-image: linear-gradient(to top,  transparent,  white);
}

#ordem-elementos {
  width: 18vw;
  margin: 0 5%;
  height: auto;
  overflow: visible;
  position: relative;
  padding: 3vh 0 3vh;
}

ol {
  list-style: none;
  margin:0;
  padding:0;
  width: 100%;
}

.container-sublista {
  display: flex;
  align-items: flex-end;
}

.sublista {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.item-sublista {
  border-radius: var(--round-border-pequeno);
  padding: 1vh 0 0.5vh 2vh;
  border-right: solid 2vh rgba(0, 0, 0, 0);
  margin: 0.5vh 0.5vh 0 0.5vh;
  min-width: 30%;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--platinum);
  transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.item-sublista:hover {
  background: var(--platinum-forte);
}

.bloco-reordenar {
  border-radius: var(--round-border-pequeno);
  width: 100%;
  margin-bottom: 1vh;
  overflow: visible;
  transition: margin 0.45ms ease-in-out, transform 0.05s ease-in-out;
}

.itens {
  margin: 0.5vh 0.5vh 0 0;
  padding: 1.2vh 1.2vh;
  background: var(--platinum);
  border-radius: var(--round-border-pequeno);
  cursor: default;
  width: 100%;
  position: relative;
}

.itens:hover {
  background: var(--platinum-forte);
}

#slide-mestre {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
  background-color: black;
  color: white;
}

#slide-mestre:hover {
  background-color: var(--preto-fraco);
}

#adicionar-slide {
  position: relative;
  width: 18vw;
  margin: 0 5%;
  background-color: var(--azul-forte);
}

#adicionar-slide:hover {
  background-color: var(--azul-oxford);
}

.lista-slides {
  background: var(--platinum);
  display: flex;
  width: 100%;
  word-wrap: break-all;
  max-height: 10.3vh;
}

.lista-slides:hover {
  background: var(--platinum-forte);
}

.selecionado:not(.item-sublista) {
  transform: scale(1.08);
  margin: 1.5vh 0 1.7vh;
}

.selecionado.item-sublista {
  transform: scale(1.2);
}

.selecionado .itens, .selecionado .item-sublista, .selecionado.item-sublista, .selecionado#slide-mestre, .selecionado#adicionar-slide {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.678) ;
}

.selecionado#slide-mestre {
  margin: 0 0 1.5vh 0;
}

.selecionado#adicionar-slide {
  margin-top: -3vh;
}

.quadradinho-canto {
  right: 0.6vh;
  top: 0.6vh;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quadradinho-canto:hover {
  opacity: 1;
}

.botao-quadradinho {
  font-size: 50%;
  height: 1.7vh;
  width: 1.7vh;
  line-height: 0.1vh;
  padding-top: 0.1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: var(--round-border-muito-pequeno);
  margin-bottom: 0.5vh;
}

#criar-nova-apresentacao {
  font-size: 100%;
  font-weight: 600;
  padding-top: 0.9vh;
  background-color: white;
  color: black;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container-adicionar {
  width: 18vw;
  margin: 0 6%;
  position: absolute;
  overflow: hidden;
}

.linha-flex-adicionar {
  display: flex;
  width: 100%;
}

#tampao-do-overflow {
  background: inherit;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 70;
}

.texto-lista-slides {
  max-width: 100%;
  overflow: hidden;
  word-break: break-all;
}

/* .elemento-slide-estilizado {
  font-style: italic;
}

.fade-estilizado {
  transition: backgound-color 2s;
} */