.titulo-musica {
    font-weight: 550;
}

.sombrear-selecao:hover {
    box-shadow: 2px 3px 8px black ;
}

.combo-popup {
    position: relative;
    border-radius: var(--round-border-pequeno);
    padding: 1.3vh;
    width: 100%;
    border: 0.2vh solid #999999;
    outline: 0;
    margin: 0.5vh 0.5vh 0.8vh 0;
}

.input-com-carregando {
    padding-right: 4vw;
}

.container-opcoes-musica {
    z-index: 180;
    width: 100%; 
    background: white;
    display: block;
}

.container-opcoes-musica.container-carrossel {
    position: absolute;
    max-height: 30vh;
}

.opcoes-musica {
    position: relative;
    overflow: hidden;
}

#div-logo-vagalume {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

#logo-vagalume {
    max-height: 16vh;
}
.paragrafo-musica-esquerda {
    padding: 0 10px;
    flex-grow: 0 0 100%;
    width: 22vw;
}

.paragrafo-musica-direita {
    padding: 0 10px;
    position: relative;
    flex-grow: 0 0 100%;
    width: 22vw;
}

.link-letra {
    font-size: 80%;
    max-width: 23vw;
}

.checkboxes-popup{
    display: flex;
    justify-content: space-around;
}

#preview-musica {
    min-height: 36vh;
}

#preview-musica.combo-popup {
    padding-top: 0;
    padding-bottom: 0;
}

#box-google {
    display: none;
}

.titulo-artista {
    width: 100%;
    font-size: 120%;
    font-weight: 600;    
    padding: 3vh 0;
    text-align: center;
}

.item-lista-musica > .itens:hover {
    background-color: #d8d8d8;
}

.trecho-previa-musica {
    color: darkgray;
    font-size: 90%;
    margin-top: 0.6vh;
    max-height: 5vh;
    overflow: hidden;
}
