h1 {
    margin: 0;
    padding: 0;
  }
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(255,255,255, 0.5);
  z-index: 40;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  background: white;
  height: 500px;
  border-radius: 6px;
  box-shadow: 1px 3px 8px black;
}

#fechar{
  position: relative;
  float: right;
  outline: 3px;
  text-align: center;
  margin: 3px;
  padding: 5px 8px;
  background:#eee;
  border-radius: 4px;
  font-weight: 650;
}