#App {
  display: block;
}

#organizador {
  display: flex;
  align-items: top;
  width: 75%;
  margin: 2vw;
}

.botao-azul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--azul-forte);
  color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--round-border-medio);
  text-align: center;
  z-index: 75;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.botao-azul:hover {
  background-color: var(--azul-oxford);
}

input[type='checkbox']{
  margin: 0 0.4vw;
}

label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}