#painel-notificacoes {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    z-index: 1000;
    overflow: hidden;
    --altura-notificacao: 8vh;
    --largura-notificacao: 15vw;
    height: calc(3*var(--altura-notificacao) + 4.8vh);
    pointer-events: none;
}

#painel-notificacoes .gradiente-coluna {
    width: calc(var(--largura-notificacao) + 1.4vh);
    height: 0.8vh;
}

.container-card-notificacao {
    overflow: hidden;
    flex: none;
    display: flex;
    align-items: flex-start;
}

.card-notificacao {
    min-width: var(--largura-notificacao);
    width: min-content;
    height: var(--altura-notificacao);
    padding: 0 2vh;
    background-color: var(--platinum-forte);
    border-radius: var(--round-border-pequeno);
    box-shadow: var(--box-shadow);
    margin: 0 1.4vh 1.4vh 1.4vh;
    font-family: 'Noto Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
