#painel-notificacoes {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    z-index: 10;
    overflow: hidden;
    height: calc(165px + 4.8vh);
}

#painel-notificacoes .gradiente-coluna {
    width: calc(200px + 1.4vh);
    height: 0.8vh;
}

.container-card-notificacao {
    overflow: hidden;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-notificacao {
    width: 200px;
    height: 55px;
    background-color: var(--platinum-forte);
    border-radius: var(--round-border-pequeno);
    box-shadow: var(--box-shadow);
    margin: 0 1.4vh 1.4vh 1.4vh;
    font-family: 'Noto Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
