.previews-slides-elementos {
    display: flex;
    overflow: visible;
    position: relative;
    flex: 0 0;
    width: fit-content;
}

.item-lista-perfil.apresentacao .botao-quadradinho.quadradinho-canto {
    right: 1vh;
    top: 1vh;
    opacity: 1;
    cursor: pointer;
}

.previews-slides-elementos > * {
    margin: 0.6vh 0 0 1vw;
}

.previews-slides-elementos:last-child {
    margin-right: 1vw;
}

.container-botoes-item-lista-perfil.apresentacoes {
    margin-left: 3vw;
    flex: none;
}

.container-botoes-item-lista-perfil.apresentacoes > button {
    transition: opacity 0.2s ease-in-out;
}

.container-carrossel-previews {
    flex: 1 1;
    height: 100%;
    overflow: hidden;
}

.rotulo-apresentacao-padrao{
    flex: 0 1 100vw;
    text-align: center;
    padding-bottom: 2vh;
    font-weight: 510;
    transition: max-height 0.3s ease-in-out;
}