#botao-mostrar-galeria {
    overflow: hidden;
    position: fixed;
    z-index: 90;
}

.container-carrossel-fundos {
    position: relative;
    overflow: visible;
    pointer-events: auto;
}

.galeria-fundos {
    height: 24vh;
    margin-top: 3.8vh;
    flex: 0 0;
    display: flex;
    position: relative;
    background-color: var(--azul-forte);
    pointer-events: none;
}

.div-img {
    position: relative;
    margin: 0 0.3vw;
    height: 85%;
    width: 14vw;
    border-radius: var(--round-border-grande);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    pointer-events: all;
}

.div-img, .pseudo-margem-galeria {
    transition: margin 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.div-img:hover {
    transform: scale(1.08);
    margin: 0 1.1vw;
}

.img-popup-confirmacao {
    display: flex;
    justify-content: center;
    margin: 4vh 0;
}

.img-popup-confirmacao .imagem-galeria{
    transform: scale(1.1);
}

.galeria-fundos .pseudo-margem-galeria {
    transform: scale(1.08);
    margin-left: 1.1vw;
}

.pseudo-margem-galeria {
    height: 100%;
    pointer-events: none;
}

.galeria-fundos:hover .pseudo-margem-galeria {
    margin: 0;
}

.imagem-galeria {
    height: 100%;
    width: 100%;
    background: white;
}

.texto-mini-preview {
    position: absolute;
    font-size: '150%';
    font-weight: 600;
    text-align: center;
    z-index: 20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    word-break: break-word;
    padding: 0 1vw;
    color: black;
}

#botao-enviar-fundo {
    background-color: var(--platinum-forte);
    font-size: 1.7vw;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#botao-enviar-fundo:hover {
    background-color: #dddddd;
}

.colapsar-menu.galeria {
    bottom: 0.7vh;
    left: 0.7vh;
}