#selecionar-aspect-ratio {
    min-width: 3.4vw;
    min-height: 2.8vh;
}

#selecionar-aspect-ratio, #fundo-selecionar-aspect-ratio  {
    position: absolute;
    top: 1vh;
    left: 2px;
    z-index: 250;
    visibility: visible;
    overflow: hidden;
}

#fundo-selecionar-aspect-ratio {
    background-color: black;
    border-radius: 0 0 0.8vh 0;
    transition: max-width 0.21s ease-in-out, max-height 0.25s ease-in-out, color 0.25s ease-in-out, transform 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcao-ratio {
    min-width: 5vw;
    margin-left: 0.4vw;
    padding: 0.6vh 0 0.4vh;
    user-select: none;
    text-align: center;
}

.opcao-ratio:hover {
    background-color: var(--preto-fraco);
}

#botao-selecionar-ratio {
    padding: 0 1vh;
}