#preview {
    position: relative;
    width: 80vh;
    height: 60vh;
    display: block;
    border-radius: 1.5vh;
}

#fundo-preview {
    height:100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    box-shadow: 1px 3px 7px rgba(0,0,0,0.5);
}

img {
    border-radius: 1.5vh;
    object-fit: cover;
}


.texto-preview {
    position: absolute;
    z-index: 20;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: pre-wrap;
}

.slide-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:20%;
    width:100%;
    text-align: center;
    font-size: 300%;
    z-index: 30;
    position: relative;
}

.slide-paragrafo {
    position: relative;
    font-size: 150%;
    display: inline-block;
    padding: 0% 10% 10% 10%;
    width:100%;
    overflow: hidden;
    flex: 1 1;
}

#ativar-tela-cheia {
    position: absolute;
    text-align: center;
    border: none;
    background-color: transparent;
    z-index: 40;
}

.tampao {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    border-radius: 1.5vh;
    display: flex;
    justify-content: space-between;
}

.container-marca-dagua-slide-mestre {
    width: 100%;
    height: 100%;
    z-index: 15;
    text-align: center;
    position: absolute;
    border-radius: 1.5vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container-interno-marca-dagua {
    width: auto;
    top: 40%;
    position: relative; 
}

.marca-dagua-slide-mestre {
    opacity: 0.35;
    font-size: 10vh;
    transform: rotate(-25deg);
    /* filter: hue-rotate(90deg); */
    font-weight: 600;
}

.movimentar-slide {
    height: 100%;
    width: 32%;
    z-index: 35;
}

.container-setas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 34;
    border-radius: 1.5vh;
    display: flex;
    justify-content: space-between;
}