#centralizador-preview {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
}

#borda-slide-mestre {
    border-radius: var(--round-border-grande);
    background-color: black;
    box-shadow: var(--box-shadow);
    position: relative;
}

.preview * {
    transition: all 100ms ease-in-out, font-size 1ms, background-image 1ms;
}

.sem-transition * {
    transition: none !important;
}

.preview {
    color: initial;
    visibility: initial;
    position: relative;
    display: block;
    border-radius: var(--round-border-grande);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.imagem-fundo-preview {
    height:100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    isolation: isolate;
}

img {
    object-fit: cover;
}

.preview.fake {
    border-radius: var(--round-border-pequeno);
}

.texto-preview {
    position: absolute;
    z-index: 20;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: pre-wrap;
}

.slide-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:20%;
    width:100%;
    text-align: center;
    font-size: 300%;
    z-index: 30;
    position: relative;
}

.slide-paragrafo {
    position: relative;
    font-size: 150%;
    display: inline-block;
    padding: 0% 10% 10% 10%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 1 1;
    top: -3px;
}

.realce-paragrafo {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.div-imagem-slide {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.botao-reupload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 130%;
}

.botao-reupload > div {
    margin-top: 2vh;
    max-width: 50%;
    text-align: center;
}

#ativar-tela-cheia {
    position: absolute;
    text-align: center;
    border: none;
    background-color: transparent;
    z-index: 40;
}

.tampao {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.movimentar-slide {
    height: 100%;
    width: 32%;
    z-index: 35;
}

.container-setas, .bloqueador-apresentacao {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: visible;
}

.container-setas {
    z-index: 34;
    display: flex;
    justify-content: space-between;
}

.bloqueador-apresentacao {
    z-index: 400;
}

#texto-slide-mestre {
    color: white;
    user-select: none;
    padding-top: 0.7vh;
    text-align: center;
    font-size: 110%;
}