.titulo-musica {
    font-weight: 550;
}

.sombrear-selecao:hover {
    box-shadow: 2px 3px 8px black ;
}

.combo-popup {
    position: static;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #999999;
    outline: 0;
    margin-bottom: 3px;
}

.opcoes-musica {
    padding-top: 4px;
    z-index: 180;
    width: 100%; 
    background: white;
}

.paragrafo-musica-esquerda {
    padding: 0 10px;
    flex-grow: 0 0 100%;
  }
  
  .paragrafo-musica-direita {
    padding: 0 10px;
    top: -2em;
    position: relative;
    flex-grow: 0 0 100%;
  }
  