.titulo-musica {
    font-weight: 550;
}

.sombrear-selecao:hover {
    box-shadow: 2px 3px 8px black ;
}

.combo-popup {
    position: static;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #999999;
    outline: 0;
    margin-bottom: 3px;
}

.opcoes-musica {
    padding-top: 4px;
    z-index: 60;
    height: 0px;
    width: 100%; 
    background: white;
}

.texto-inserir {
    white-space: pre-wrap;
    overflow: auto;
    margin-top: 2vh;
    height: 100%; 
    flex-grow: 1;
}