#fundo-splash {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2000;
    font-family: 'Myriad Pro';
}

#logo-splash {
    margin: 13vh 0 16vh;
    position: relative;
    width: calc(var(--largura-logo));
    height: calc(var(--altura-logo));
    transition: transform 1s ease-in-out;
}

#logo-splash img {
    object-fit: fill;
}

.quadrado-logo {
    width: var(--largura-logo);
    height: var(--altura-logo);
    border-radius: calc(var(--largura-logo)*0.0685);
    position: absolute;
    transition: transform 1s ease-in-out;
}

.quadrado-logo.azul {
    top: 0;
    right: 0;
}

.quadrado-logo.azul-puro {
    background-color: var(--azul-forte);
}

.quadrado-logo.azul-claro {
    background-color: #879acb;
}

.quadrado-logo.cinza {
    background-color: var(--platinum);
}

#fundo-animacao-3d {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

#fundo-animacao-3d > * {
    position: absolute;
}
