.wraper {
        --cor: var(--azul-forte);
        position: relative;
        animation: var(--animacao-mudar-cor) 4.8s linear 0.6s infinite;
}

.container-arc {
        width: auto;
        height: auto;
        animation: girar 3.5s linear infinite;
        width: calc(var(--tamanho-loading)*22vh);
        height: calc(var(--tamanho-loading)*22vh);
        border-radius: 100%;
        overflow: hidden;
}

.arc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: calc(var(--tamanho-loading)*3vh*var(--largura-borda)) solid transparent;
        transition: border-color 0.3s ease-in-out;
        border-color: var(--cor) transparent transparent transparent;
}

.arc_start {
        animation: quarto 1.6s ease-in-out infinite;
}

.arc_end {
        animation: primeiro 1.6s ease-in-out infinite;
}

.arc_end2 {
        animation: segundo 1.6s ease-in-out infinite;
}

.arc_end3 {
        animation: terceiro 1.6s ease-in-out infinite;
}

.arc_tampar {
        top: -3%;
        left: -3%;
        width: calc(var(--tamanho-loading)*(22vh + 2vh*var(--largura-borda)));
        height: calc(var(--tamanho-loading)*(22vh + 2vh*var(--largura-borda)));
        border: calc(var(--tamanho-loading)*6vh*var(--largura-borda)) solid;
        border-color: var(--cor-fundo) transparent transparent transparent;
        animation: expandir 1.6s ease-out infinite;
}

@keyframes girar {
        from {
                transform: rotate(0deg);
      }
      to {
                transform: rotate(359deg);
      }
}

@keyframes expandir {
        0% {
                transform: rotate(3deg);
        }
        50% {
                transform: rotate(363deg);
        }
        100% {
                transform: rotate(363deg);
        }
} 

@keyframes primeiro {
        0% {
                transform: rotate(0deg);
        }
        50% {
                transform: rotate(268deg);
        }
        92% {
                transform: rotate(360deg);
        }
        100% {
                transform: rotate(360deg);
        }
} 

@keyframes segundo {
        0% {
                transform: rotate(0deg);
        }
        50% {
                transform: rotate(179deg);
        }
        92% {
                transform: rotate(360deg);
        }
        100% {
                transform: rotate(360deg);
        }
} 

@keyframes terceiro {
        0% {
                transform: rotate(0deg);
        }
        50% {
                transform: rotate(90deg);
        }
        92% {
                transform: rotate(360deg);
        }
        100% {
                transform: rotate(360deg);
        }
} 

@keyframes quarto {
        0% {
                transform: rotate(0deg);
        }
        60% {
                transform: rotate(90deg);
        }
        92% {
                transform: rotate(360deg);
        }
        100% {
                transform: rotate(360deg);
        }
} 


@keyframes mudarCor {
        0% {
                --cor: var(--azul-forte);
        }
        33% {
                --cor: var(--azul-claro);
        }
        66% {
                --cor: rgb(202, 202, 202);        
        }
        100% {
                --cor: var(--azul-forte);
        }
}

/* <div className='container-nest'>
      <div id="nest5"></div>
    </div> */
/* 
.container-nest {
        position: absolute;
        top: 70vh;
}
#nest5 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 180px;
    width: 180px;
    margin: -75px 0 0 -75px;
    border: 12px solid transparent;
    border-top-color: var(--azul-forte);
    border-right-color: var(--azul-forte);
    border-radius: 50%;
    animation: spin11 1.6s linear infinite;
  }
  
  #nest5:before {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 12px solid transparent;
    border-radius: 50%;
    border-top-color: var(--azul-fraco);
    border-right-color: var(--azul-fraco);
    animation: spin11 .8s linear infinite reverse;
  }
  
  #nest5:after {
    content: "";
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    border: 12px solid transparent;
    border-radius: 50%;
    border-top-color: var(--platinum-forte);
    -webkit-animation: spin11 1.6s linear infinite;
            animation: spin11 1.6s linear infinite;
  }
  
  @keyframes spin11 {
    from {
              transform: rotate(0deg);
    }
    to {
              transform: rotate(359deg);
    }
  } */