#menu-exportacao {
    position: fixed;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    --diametro-bolinha: 3.7vw;
    min-width: 8vw;
    min-height: 8vh;
}

.div-botao-exportar {
    margin: 0.7vw 1.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: max-width 0.2s linear, max-height 0.2s linear;
}

.inativo .botao-exportar {
    filter: grayscale(100%);
}

#rotulo-exportar {
    transition: max-width 0.1s linear, max-height 0.1s linear;
}

#menu-exportacao, #opcoes-menu-exportacao, #formatos-exportacao {
    transition: max-width 0.2s linear, max-height 0.2s linear, margin 0.2s linear;
}

#rotulo-exportar {
    overflow: hidden;
}

#opcoes-menu-exportacao {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    pointer-events: all;
}

#meios-exportacao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 1vh 1vh;
}

.botao-exportar {
    border-radius: var(--diametro-bolinha);
    height: var(--diametro-bolinha);
    width: var(--diametro-bolinha);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#exportar-html {
    background-color: gray;
}

#logo-html {
    color: white;
    font-size: calc(var(--diametro-bolinha)/2);
    transform: scaleY(1.3);
}

#logo-pptx {
    position: absolute;
    pointer-events: none;
    left: -1.06vw;
    height: 5.54vw;
    width: 5.54vw;
}

#exportar-pdf {
    background-color: white;
}

#logo-pdf {
    top: -0.2vw;
    height: 2.8vw;
    width: 2.8vw;
    border-radius: 0;
    position: relative;
}

#logo-cultue-redondo {
    width: 99%;
}

.rotulo-botao-exportar {
    margin: 0.4vw 0 0;
    font-size: calc(var(--diametro-bolinha)/5);
    color: white;
}

.inativo .rotulo-botao-exportar {
    color: gray;
}

.logo-exportacao {
    object-fit: contain;
}

#exportar-link {
    color: black;
    background-color: var(--platinum-forte);
}

#exportar-email {
    color: white;
    background-color: black;
}

#exportar-download {
    color: rgb(0, 103, 199);
    background-color: rgb(245, 245, 245);
}


.container-logo-pptx {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colapsar-menu {
    position: absolute;
    color: white;
    z-index: 100;
    font-size: 3.5vh;
    line-height: 70%;
    pointer-events: all;
    user-select: none;
}

.colapsar-menu:hover {
    color: #cfcfcf;
}

.colapsar-menu.exportacao {
    bottom: 0.7vh;
    right: 0.7vh;
}

#formatos-exportacao {
    background: #14213d;
    border-radius: var(--round-border-medio);
    margin: 2vh 2vh 0 2vh;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.arrow-down {
    position: absolute;
    top: -1vw;
    width: 0; 
    height: 0; 
    border-left: 1.5vw solid transparent;
    border-right: 1.5vw solid transparent;
    border-top: 1.5vw solid #14213d;
}

.gerador-link-compartilhamento {
    padding: 0 2vh;
    width: auto;
}

.gerador-link-compartilhamento .combo-popup {
    padding: 0.5vh;
    width: min-content;
}

.gerador-link-compartilhamento select {
    margin: 0 2vh;
}

.gerador-link-compartilhamento label {
    margin-left: 0.6vh;
}

.gerador-link-compartilhamento .bool {
    margin: 0 0 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-copiavel {
    border: 1px solid gray;
    padding: 1vh;
    border-radius: var(--round-border-medio);
    flex: 1 0;
    max-width: 84%;
}

.linha-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3vh 0;
}