<div
    id="preview"
    class="preview"
    style="
        width: 641.707px;
        height: 360.96px;
        border-radius: var(--round-border-grande);
    "
>
    <div class="imagem-fundo-preview" style="">
        <div
            class="tampao"
            style="background-color: rgba(255, 255, 255, 0.2)"
        ></div>
    </div>
    <div class="texto-preview" style="font-size: 9.024px; cursor: text">
        <div
            class="slide-titulo"
            style="
                font-family: 'Noto Sans';
                text-align: center;
                padding: 0% 8%;
                font-size: 300%;
                height: 25%;
            "
        >
            <div>
                <span
                    id="textoTitulo"
                    contenteditable="true"
                    style="border-radius: var(--round-border-medio)"
                    >Jesus em Tua Presença</span
                >
            </div>
        </div>
        <div
            id="paragrafo-slide"
            class="slide-paragrafo"
            style="
                font-family: 'Noto Sans';
                line-height: 1.9;
                padding: 0.5% 8% 5.61719%;
                font-size: 150%;
                --tamanho-fonte: 1.5;
                --altura-linha: 1.9;
            "
        >
            <div
                class="realce-paragrafo"
                style="
                    border-radius: var(--round-border-medio);
                    box-shadow: 0px 0px 9px var(--azul-forte);
                    transition: font-size 0.1s ease 0s;
                "
            >
                <div
                    class="container-estrofes"
                    style="
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: flex-start;
                    "
                >
                    <div class="wraper-estrofe">
                        <span class="container-estrofe estrofe-area"
                            ><span
                                class="estrofe-editavel"
                                id="textoArray-0"
                                contenteditable="true"
                                >Jesus em tua presença reunimo-nos aqui
                                Contemplamos tua face e rendemos nos a ti Pois
                                um dia tua morte trouxe vida a todos nós E nos
                                deu completo acesso ao coração do pai</span
                            ></span
                        ><span class="marcador-estrofe"
                            ><span>✕</span
                            ><input
                                class="input-puro"
                                type="number"
                                value="2"
                                style="width: 2vw"
                        /></span>
                    </div>
                    <div><br /></div>
                    <div class="wraper-estrofe">
                        <span class="container-estrofe estrofe-area"
                            ><span
                                class="estrofe-editavel"
                                id="textoArray-1"
                                contenteditable="true"
                                >O véu que separava já não separa mais A luz que
                                outrora apagada Agora brilha e cada dia brilha
                                mais</span
                            ></span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button
        id="ativar-tela-cheia"
        style="opacity: 0.3; right: 1vh; bottom: 0.5vh"
    >
        <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="icone-botao"
            size="50"
            height="50"
            width="50"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"
            ></path>
        </svg>
    </button>
</div>
