<div
    id="paragrafo-slide"
    class="slide-paragrafo"
    style="
        font-family: Oswald;
        font-size: 260%;
        line-height: 1.9;
        padding: 0.5% 12% 6.95312%;
        text-decoration-line: underline;
        --tamanho-fonte: 2.6;
        --altura-linha: 1.9;
    "
>
    <div class="realce-paragrafo">
        <div
            class="container-estrofes"
            style="
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
            "
        >
            <span class="container-estrofe estrofe-area"
                ><span
                    class="estrofe-editavel"
                    id="textoArray-0"
                    contenteditable="false"
                    >Sejam bem-vindos à nossa Igreja!</span
                ></span
            >
        </div>
    </div>
</div>
