.select-personalizado {
    padding-left: 0.8vw;
    text-align: left;
    white-space: nowrap;
}

.base-select {
    height: 100%;
    width: 100%;
    overflow: hidden;
    outline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-opcao-marcada{
    line-height: 100%;
}

.bloco-opcoes {
    position: fixed;
    width: 100%;
    transition: max-height 0.08s linear;
    z-index: 100;
    border: inherit;
    overflow-x: auto;
    background-color: white;
}

.opcao-select {
    padding: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.opcao-select:hover {
    background-color: var(--platinum-forte);
}

body *::-webkit-scrollbar {
    width: 0.5vw;
    left: -0.5vw;
    height: 95%;
}
   
body *::-webkit-scrollbar-track {
    background: inherit;
}
   
body *::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

body *::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}