#fundo-front-page {
    overflow-x: auto;
    width: 100vw;
    height: 100vh;
    --altura-cabecalho: 85vh;
    --altura-sessao: 80vh;
    --altura-imagem: 50vh;
}

#cabecalho-front {
    height: var(--altura-cabecalho);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cabecalho-front .container-logo-com-nome {
    transform: translateY(calc(0.12vh*var(--scroll))) scale(max(0.4, calc(1 - var(--scroll)/2000)));
}

#cabecalho-front .linha-flex {
    width: 80%;
    justify-content: space-between;
}

.botao-inicial {
    color: white;
    min-width: 30vw;
    font-size: 6vh;
    position: relative;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 2vh;
    background-color: black;
    padding: 2vh;
    text-align: center;
}

.botao-inicial.animado {
    top: min(calc(0.2vh*var(--scroll)), var(--altura-sessao));
}

.botao-inicial:hover {
    transform: scale(1.08);
}

.secao-front-page {
    width: 100%;
    height: 80vh;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4vw;
    overflow: hidden;
    position: relative;
    box-shadow: 0 -8px 9px rgba(0,0,0,0.2) inset;
}

#wraper-front-page .secao-front-page:nth-child(2) {
    box-shadow: 0 -8px 9px rgba(0,0,0,0.2);
}

.secao-front-page.azul-forte {
    background: var(--azul-forte);
    color: white;
}

.secao-front-page.azul-claro {
    background: var(--azul-fraco);
    color: black;
}

.secao-front-page.cinza {
    background: var(--platinum);
    color: var(--azul-oxford);
}

.conteudo-secao {
    width: 30vw;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4vh;
}

.conteudo-secao h5 {
    margin-block-start: -3vh;
}

.conteudo-secao.vazio {
    width: 36vw;
    height: 100%;
}

.img-conteudo-secao {
    position: absolute;
    border-radius: 3vh;
    width: 100%;
    height: var(--altura-imagem);
    box-shadow: var(--box-shadow);
    object-fit: cover;
    top: calc(5vh + var(--altura-cabecalho) + var(--posicao)*var(--altura-sessao) + var(--scroll)*(-1px));
    object-fit: cover;
    cursor: pointer;
}

#descricao-front {
    height: var(--altura-cabecalho);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 3vh;
}

#descricao-front .conteudo-secao {
    font-size: 3vh;
}

#descricao-front .botao-inicial {
    margin-top: 5vh;
    margin-left: 0;
    font-size: 5vh;
}

.diagonal {
    width: 110vw;
    transform: rotate(-5deg);
    transform-origin: 0 100%;
    background-color: black;
    height: 25vh;
    position: relative;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.4);
}

.wraper-iframe {
    --largura-iframe: 100vw;
    max-width: 54vw;
    height: calc(var(--largura-iframe)/(16/9)/2);
    cursor: pointer;
}

iframe {
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, transform 1.2s ease-in-out, box-shadow 0.5s ease-in-out, border-radius 0.6s;
}

.wraper-iframe > iframe.print-site {
    width: var(--largura-iframe);
    height: calc(var(--largura-iframe)/(16/9)*0.92);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.4);
    border-radius: var(--round-border-grande);
    transform-origin: left top;
    transform: scale(0.54) translate(0, -3%);
}

.container-iframe-tela-cheia > iframe.print-site {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2500;
    transform: scale(1) translate(0, 0);
}
