#fundo-front-page {
    overflow-x: auto;
    width: 100vw;
    height: 100vh;
    --altura-cabecalho: 85vh;
    --altura-sessao: 80vh;
    --altura-imagem: 50vh;
}

#cabecalho-front {
    height: var(--altura-cabecalho);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cabecalho-front .linha-flex {
    width: 80%;
    justify-content: space-between;
}

.botao-inicial {
    color: white;
    border-radius: 2vh;
    font-size: 300%;
    padding: 3vh;
    margin: 3vh;
    min-width: 30vw;
    text-align: center;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: black;
    box-shadow: var(--box-shadow);
}

.botao-inicial:hover {
    transform: scale(1.08);
}

.secao-front-page {
    width: 100%;
    height: 80vh;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4vh;
    padding: 0 4vw;
    box-shadow: 0 -8px 6px rgba(0,0,0,0.3) inset;
    overflow: hidden;
    position: relative;
}

.secao-front-page.azul-forte {
    background: var(--azul-forte);
    color: white;
}

.secao-front-page.azul-claro {
    background: var(--azul-fraco);
    color: black;
}

.secao-front-page.cinza {
    background: var(--platinum);
    color: var(--azul-oxford);
}

.conteudo-secao {
    width: 30vw;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo-secao.vazio {
    width: 36vw;
    height: 100%;
}

.img-conteudo-secao {
    position: absolute;
    border-radius: 3vh;
    width: 100%;
    height: var(--altura-imagem);
    pointer-events: none;
    box-shadow: var(--box-shadow);
    object-fit: cover;
    top: calc(5vh + var(--altura-cabecalho) + var(--posicao)*var(--altura-sessao) + var(--scroll)*(-1px));
    object-fit: cover;
}
/* 
.secao-front-page img{
    width: 100%;
    top: calc(-60vh + var(--altura-cabecalho) + var(--posicao)*var(--altura-sessao) + var(--scroll)*(-1px));
    position: absolute;
    object-fit: cover;
} */