h1 {
    margin: 0;
    padding: 0;
  }
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
#fundo-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(255,255,255, 0.5);
  z-index: 40;
}

.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 12%;
  bottom: 28%;
  background: white;
  /* height: 45vh; */
  /* width: 45vw; */
  border-radius: 6px;
  padding: 1.5vw;
  box-shadow: 1px 3px 8px black;
  z-index: 50;
}

.cabecalho-popup {
  width: 95%; 
  position: absolute;
}

#fechar{
  position: relative;
  float: right;
  outline: 3px;
  text-align: center;
  margin: 3px;
  padding: 5px 8px;
  background:#eee;
  border-radius: 4px;
  font-weight: 650;
}

.botao {
  margin: 3px;
  padding: 10px 15px;
  background:#eee;
  border-radius: 4px;
  cursor: default;
  outline: 0;
  width: 10vw;
  text-align: center;
}

.botao:hover {
  background: green;
}

.conteudo-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container-preview {
  /* flex: 1 0 0; */
  /* overflow: auto; */
  display: block;
  overflow: auto;
  white-space: pre-wrap;
}

.texto-inserir {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.paragrafo-musica-esquerda {
  padding: 0 10px;
  flex-grow: 1 0 100%;
}

.paragrafo-musica-direita {
  padding: 0 10px;
  top: -2em;
  position: relative;
  flex-grow: 1 0 100%;
}

.container-divisao-popup {
  display: flex;
  flex-direction: column;
  margin-top: 1.5vh;
  overflow: auto;
}