.container-versiculos {
    flex: 1;
    overflow: auto;
    justify-content: start;
    text-align: justify;
    text-justify: inter-word;
    display: block;
    padding: 0 2.6vh;
    width: 100%;
}

.versiculos.referencia-invalida {
    background-color: #ffcccc;
    color: red;
    width: 100%;
}

.versiculos {
    padding: 1vh;
    border-radius: var(--round-border-pequeno);
    background-color: var(--platinum);   
}
