.caixa-input-imagem {
    overflow: hidden;
    flex: 1;
    margin-top: 0.5vh;
    position: relative; 
    padding: 0;
    display: flex;
    flex-direction: column;
}

.file-input-container {
    overflow-y: visible;
    position: relative;  
}

.caixa-input-imagem [type=file] {
    cursor: inherit;
    display: flex;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 300;
}

.container-carrossel {
    flex: 1 1; 
    position: relative; 
    overflow: hidden;
}

.animacao-drag-over {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tracejado-animacao {
    border-radius: var(--round-border-medio);
    border: 0.5vh dashed #b9b9b9;
    z-index: 450;
    pointer-events: none;
}

.container-texto-input-file {
    width: 91%;
    height: 91%;
    margin: 3% 5%;
}

.container-imagem-upload {
    margin: 2vh;
    display: flex;
    justify-content: center;
}

.previa-imagem-upload {
    box-shadow: var(--box-shadow);
    border-radius: var(--round-border-grande);
    width: 12vw;
    height: 9vw;
    object-fit: cover;
}

.imagem-invalida {
    background-color: var(--vermelho-fraco);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.texto-auxiliar {
    color: gray;
}

.container-imagens-previa-upload {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.file-input-container{
    pointer-events: none;
}