.container-range {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8vh;
  margin: 1vh 1.5vh 0;
}

.container-rotulo-range {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rotulo-range {
  word-wrap: unset;
  width: 100%;
  font-size: 90%;
}

.frame-range {
  --diametro-bolinha: 2vh;
  --height-barrinha: 1vh;
  --width-barrinha: 9vh;
  height: 12vh;
  width: 100%;
  position: relative;
  border-radius: var(--round-border-pequeno);
  display: flex;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  transform: rotate(-90deg);
  background: transparent; /* Otherwise white in Chrome */
  position: absolute;
  top: 5vh;
  left: -2.4vh;
  width: var(--width-barrinha);
  height: var(--height-barrinha);
  z-index: 0;
}

/* Bolinha */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 5px solid #dddddd;
  height: var(--diametro-bolinha);
  width: var(--diametro-bolinha);
  border-radius: var(--diametro-bolinha);
  background: #eeeeee;
  margin-top: -0.5vh; /*You need to specify a margin in Chrome, but in Firefox and IE it is automatic*/
  box-shadow: -2px 1px 5px rgba(0,0,0,0.5);
}

/* Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: var(--diametro-bolinha);
  width: var(--diametro-bolinha);
  border-radius: var(--diametro-bolinha);
  background: #d4d4d4;
}

/* Internet Explorer */
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: var(--diametro-bolinha);
  width: var(--diametro-bolinha);
  border-radius: var(--diametro-bolinha);
  background: #d4d4d4;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}   

/* Barrinha */
input[type=range]::-webkit-slider-runnable-track {
  width: var(--width-barrinha);
  height: var(--height-barrinha);
  background: rgb(209, 209, 209);
  border-radius: 100px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3757A9;
}

input[type=range]::-moz-range-track {
  width: var(--width-barrinha);
  height: var(--height-barrinha);
  background: rgb(209, 209, 209);
  border-radius: 100px;
}

input[type=range]::-ms-track {
  width: var(--width-barrinha);
  height: var(--height-barrinha);
  background: rgb(209, 209, 209);
  border-radius: 100px;
}

.valor-flutuante {
  font-size: 83%;
  position: absolute;
  left: 4vh;
  box-shadow: var(--box-shadow);
  border-radius: var(--round-border-pequeno);
  background-color: white;
  padding: 0.5vh;
}

.input-texto-slider:empty:before {
  content: '    ';
  white-space: pre;
}

.input-texto-slider:focus {
  border-radius: var(--round-border-muito-pequeno);
}

.input-texto-slider:focus {
  box-shadow: 0px 0px 3px black;
}
.erro .input-texto-slider:focus {
  box-shadow: 0px 0px 3px red;
}

.valor-flutuante.erro {
  animation: shake 1s ease-in-out infinite;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translateX(-5%);
  }
  5%{
    transform: translateX(10%);
  }
  10% {
    transform: none;
  }
  100% {
    transform: none;
  }
}