#container-login {
    background-color: var(--platinum);
    border-radius: var(--round-border-medio);
}

.fundo-login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 405;
}

.wraper-login {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#quadro-login {
    background-color: white;
    border-radius: var(--round-border-medio);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
    box-shadow: var(--box-shadow);    
}

#quadro-login input, #quadro-login hr {
    width: 20vw;
}

#quadro-login button {
    width: 17vw;
}

#quadro-login > * {
    margin-bottom: 2vh;
}

#quadro-login hr {
    border-top: 1px solid var(--platinum);
}

.inputs-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-login button {
    margin-top: 2vh;
}

#cadastre-se {
    text-align: center;
}

#esqueceu-senha {
    color: rgb(1, 126, 204);
    font-size: 90%;
    cursor: pointer;
    float: right;
    margin-bottom: 0;
    text-align: right;
}

#comece-usar {
    padding: 10vh;
}

#comece-usar div {
    width: 15vw;
    font-size: 300%;
}

.mensagem-erro{
    text-align: right;
    width: 90%;
}

.mensagem-erro div {
    color: var(--vermelho-fraco);
    font-size: 90%;
    margin-top: 1vh;
    line-height: 2.5vh;
    min-height: 2.5vh;
}