#container-login {
    border-radius: var(--round-border-medio);
    pointer-events: none;
}

.fundo-login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 405;
}

.wraper-login {
    display: flex;
    justify-content: space-between;
    width: 55%;
    height: 55%;
}

@media (max-width: 500px) {
    .wraper-login {
        flex-direction: column;
    }
    
    #comece-usar div{
        font-size: 200%;
        padding: 4vh 10vw;
    }
}

.wraper-login > * {
    pointer-events: all;
    min-width: 23vw;
    max-width: 23vw;
}

#quadro-login, #quadro-login > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quadro-login form input {
    min-width: 17vw;
    max-width: 17vw;
    margin-right: 0;
}

#quadro-login, #quadro-login input, #quadro-login hr, #quadro-login select {
    width: 100%;
}

#quadro-login input {
    min-height: 5.3vh;
    max-height: 5.3vh;
}

#quadro-login button:not(.botao-olho) {
    width: 16vw;
    border-radius: var(--round-border-pequeno);
}

#quadro-login > * {
    margin-bottom: 2vh;
}

#quadro-login hr {
    border-top: 1px solid var(--platinum);
}

#quadro-login.cadastrando > *:not(div) {
    margin-bottom: 0.7vh;
}

#mensagem-redefinicao-senha {
    text-align: center;
    font-size: 150%;
}

.inputs-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-login button {
    margin-top: 2vh;
}

.container-senha {
    position: relative;
    --cor-olho: rgb(180, 180, 180);
    --tempo-transition: 180ms;
}

.container-senha.visivel  {
    position: relative;
    --cor-olho: rgb(105, 105, 105);
}

.container-senha #password {
    transition: font-size var(--tempo-transition) ease-in-out, font-weight var(--tempo-transition) ease-in-out, letter-spacing var(--tempo-transition) ease-in-out;
}

.container-senha #password.senha-pequena {
    font-size: 28%;
    font-weight: 1000;
    letter-spacing: 2.3px;
}

.botao-olho {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0.8vw;
    color: var(--cor-olho);
    z-index: 1;
}

.risco-olho {
    background-color: var(--cor-olho);
    position: absolute;
    height: 0.3vh;
    transform: rotate(45deg);
}

.risco-olho, .botao-olho {
    filter: drop-shadow(0.5px 0.5px 0.5px rgba(0,0,0,0.1));
    transition: color var(--tempo-transition) ease-in-out, background-color var(--tempo-transition) ease-in-out, width var(--tempo-transition) ease-in-out;
}

#cadastre-se {
    text-align: center;
}

#esqueceu-senha {
    color: rgb(1, 126, 204);
    font-size: 90%;
    cursor: pointer;
    float: right;
    margin-bottom: 0;
    text-align: right;
}

#comece-usar {
    padding: 10vh 4vw;
}

#comece-usar div {
    width: 15vw;
    font-size: 300%;
}

.mensagem-erro{
    text-align: right;
    width: 100%;
    color: var(--vermelho-fraco);
    font-size: 90%;
    line-height: 2.5vh;
}

.mensagem-erro div {
    min-height: 2.5vh;
    margin-top: 1vh;
}

.quadro-centralizado {
    width: min-content;
    justify-content: center !important;
}

.fundo-captura-mouse {
    width: 100vw;
    height: 100vh;
    position: fixed;
}