#fundo-tutorial {
    position: absolute;
    top: 5vh;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 4vh;
    z-index: 300;
    pointer-events: none;
}

#fundo-tutorial * {
    pointer-events: all !important;
}

.caixa-tutorial {
    background-color: var(--platinum);
    border-radius: var(--round-border-medio);
    padding: 2vh;
    min-width: 16vw;
    width: min-content;
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease-in-out;
}

#pular-tutorial {
    position: absolute;
    top: 2vh;
    right: 2vh
}

#rodape-tutorial {
    display: flex;
    justify-content: space-between;
}

#rodape-tutorial .botao {
    flex: none;
}

.container-arrow {
    position: fixed;
    width: min-content;
}

.arrow {
    position: absolute;
    color: var(--azul-forte);
    filter: drop-shadow(-3px 3px 1px rgba(0,0,0,0.4));
    transform-origin: top left;
    transition: transform 0.2s, top 0.2s, left 0.2s;
}

.container-children-arrow {
    position: absolute;
}

.container-children-interno {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow svg {
    right: -5.9vh;
    top: 0.5vh;
    position: relative; 
}

#fundo-tutorial .botao {
    box-shadow: var(--box-shadow);
}