#fundo-tutorial {
    position: absolute;
    top: 5vh;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 4vh;
    z-index: 250;
}

#fundo-tutorial * {
    pointer-events: all;
}

.container-caixa-tutorial {
    position: absolute;
}

.caixa-tutorial {
    background-color: var(--platinum);
    border-radius: var(--round-border-medio);
    padding: 2vh;
    min-width: 16vw;
    width: min-content;
    box-shadow: var(--box-shadow);
}

#pular-tutorial {
    position: absolute;
    top: 2vh;
    right: 2vh
}

#rodape-tutorial {
    display: flex;
    justify-content: space-between;
}

#rodape-tutorial .botao {
    flex: none;
}

.container-arrow {
    position: relative;
    width: min-content;
}

.arrow {
    position: absolute;
    color: var(--azul-forte);
    filter: drop-shadow(-3px 3px 1px rgba(0,0,0,0.4));
}

#fundo-tutorial .botao {
    box-shadow: var(--box-shadow);
}