/*https://coolors.co/000000-14213d-fca311-e5e5e5-ffffff

https://coolors.co/000000-e5e5e5-ffffff-3757a9-748fd2-ff3c3c-dd0000*/

html, body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
  transition: opacity 0.1s ease-in-out, color 0.08s ease-in-out, background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Helvetica', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-size-geral: calc(11px + 0.4vh);
  font-size: calc(11px + 0.4vh);
  --preto-fraco: #333333;
  --azul-fraco: #6688df;
  --azul-forte: #3757A9;
  --azul-claro: #879acb;
  --azul-oxford: #304e8f;
  --platinum: #eeeeee;
  --platinum-forte: #e5e5e5;
  --vermelho-fraco: #ff3c3c;
  --vermelho-forte: #dd0000;
  --round-border-muito-pequeno: 0.4vh;
  --round-border-pequeno: 0.7vh;
  --round-border-medio: 1vh;
  --round-border-grande: 1.5vh;
  --box-shadow: 1px 3px 7px rgba(0,0,0,0.5);
  --box-shadow-longe: 5px 5px 8px rgba(0,0,0,0.4), -5px -5px 8px rgba(0,0,0,0.4);
  --largura-logo: 28vh;
  --altura-logo: calc(var(--largura-logo)/1.2614);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  resize: none;
}

textarea, input, button, select { 
  font-family: inherit; 
  font-size: inherit; 
}

button, input[type="submit"], input[type="reset"], [contentEditable="true"]:focus {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  text-align: left;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--azul-oxford);
}

::selection {
  color: white;
  background: var(--azul-oxford);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}

.quadriculado-imitando-transparente{
  object-fit: cover;
  /* background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background-repeat: repeat, repeat;
  background-position: 0px 0, 1.5vh 1.5vh;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-background-origin: padding-box, padding-box;
  background-origin: padding-box, padding-box;
  -webkit-background-clip: border-box, border-box;
  background-clip: border-box, border-box;
  -webkit-background-size: 3vh 3vh, 3vh 3vh;
  background-size: 3vh 3vh, 3vh 3vh;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
  transform: scaleX(1) scaleY(1) scaleZ(1); */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}
