.container-logo-com-nome {
    position: relative;
    --altura-letra: 22vh;
    height: var(--altura-letra);
}

.container-logo-com-nome #logo-splash{
    position: absolute;
    margin: 0;
}

.container-quadrados-logo {
    position: relative;
}

.ultue {
    font-family: 'Kanit';
    font-size: var(--altura-letra);
    position: absolute;
    line-height: 95%;
    white-space: nowrap;
    margin-left: 2.5vw;
}

.ultue .branco {
    color: white;
}

.ultue .pontinho {
    font-size: 130%;
    line-height: 0;
    font-family: 'Montserrat';
    filter: drop-shadow(var(--box-shadow));
}

.caret {
    width: 2px;
    border-right: black solid 2px;
}
