#fundo-splash {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2000;
    font-family: 'Myriad Pro';
}

#logo-splash {
    margin: 16vh 0 19vh;
    position: relative;
    width: calc(var(--largura-logo));
    height: calc(var(--altura-logo));
}

#logo-splash.animado, .animado .quadrado-logo {
    transition: transform 700ms ease-in-out;
}

#logo-splash img {
    object-fit: fill;
}

.quadrado-logo {
    width: var(--largura-logo);
    height: var(--altura-logo);
    border-radius: calc(var(--largura-logo)*0.0685);
    position: absolute;
}

.quadrado-logo.azul-forte, #fundo-animacao-3d.azul-forte {
    background-color: var(--azul-forte);
}

.quadrado-logo.azul-claro, #fundo-animacao-3d.azul-claro {
    background-color: #879acb;
}

.quadrado-logo.cinza {
    background-color: var(--platinum);
}

#fundo-animacao-3d {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.6s linear;
}

#fundo-animacao-3d.branco {
    background-color: white;
}

#fundo-animacao-3d > * {
    position: absolute;
}

.wraper-loading-splash {
    margin: 20px;
}