.coluna {
  width: 40vh;
  height: 60vh;
  border-radius: var(--round-border-pequeno);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coluna.arrastar {
  width: 23vw;
}

.coluna-lista-slides {
  width: 23vw;
  height: 63vh;
  position: relative;
  margin-top: -3vh;
}

.container-lista-slides {
  margin-top: 3vh;
  width: 23vw;
  height: 63vh;
  overflow: visible;
  position: relative;
}

.gradiente-coluna {
  width: 100%;
  height: 3vh;
  position: absolute;
  z-index: 25;
  pointer-events: none;
}

.gradiente-coluna.embaixo {
  top: 60.5vh;
  background-image: linear-gradient(to bottom, transparent,  white);
}

.gradiente-coluna.emcima {
  top: 0;
  background-image: linear-gradient(to top,  transparent,  white);
}

#ordem-elementos {
  width: 18vw;
  margin: 0 6%;
  overflow: visible;
  /* position: absolute; */
  /* top: 0; */
}

ol {
  list-style: none;
  margin:0;
  padding:0;
  width: 100%;
}

.sublista {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.item-sublista {
  border-radius: var(--round-border-pequeno);
  padding: 5px 0 3px 12px;
  border-right: solid 12px rgba(0, 0, 0, 0);
  margin: 3px 3px 0 3px;
  min-width: 30%;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--platinum);
}

.item-sublista:hover {
  background: #e5e5e5;
}

.bloco-reordenar {
  border-radius: var(--round-border-pequeno);
  width: 100%;
  margin-bottom: 3px;
  overflow: visible;
}

.bloco-reordenar:last-child, .bloco-reordenar:first-child {
  z-index: 30;
}

h1 {
  border-left: 5px solid #e1e1e1;
  padding-left: 5px;
}

.itens {
  margin: 0.5vh 0.5vh 0 0;
  padding: 1.2vh 1.2vh;
  background: var(--platinum);
  border-radius: var(--round-border-pequeno);
  cursor: default;
  width: 100%;
}

#slide-mestre {
  margin-top: 3vh;
  user-select: none;
  text-align: center;
  background-color: var(--azul-forte);
  color: white;
}

#slide-mestre:hover {
  background-color: var(--azul-oxford);
}

#adicionar-slide {
  user-select: none;
  text-align: center;
  margin-top: 1vh;
  position: relative;
}

.lista-slides {
  background: var(--platinum);
}

.lista-slides:hover {
  background: #e5e5e5;
}

.selecionado:not(.item-sublista) {
  transform: scale(1.08);
  margin: 1.5vh 0 1.7vh;
}

.selecionado.item-sublista {
  transform: scale(1.2);
}

.selecionado .itens, .selecionado .item-sublista, .selecionado.item-sublista, .selecionado#slide-mestre, .selecionado#adicionar-slide {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.678) ;
}

.selecionado#slide-mestre {
  margin: 0 0 1.5vh 0;
}

.div-excluir {
  position: relative;
  width: 100%;
}

.excluir-elemento {
  font-size: 50%;
  right: 0.6vh;
  top: 0.6vh;
  height: 1.7vh;
  width: 1.7vh;
  line-height: 0.1vh;
  padding-top: 0.1vh;
  position: absolute;
  opacity: 0;
  border-radius: var(--round-border-muito-pequeno);
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.excluir-elemento:hover {
  opacity: 1;
}

.container-adicionar {
  position: relative;
}

#div-botoes {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5vh;
  z-index: 100;
  height: auto;
  justify-content: center;
}

.linha-flex-adicionar {
  display: flex;
  width: 100%;
}

#div-botoes .itens {
  min-width: 8.5vh;
  max-width: 8.5vh;
  height: 7vh;
  margin: 1vh 1vh 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--azul-forte);
  color: white;
  box-shadow: var(--box-shadow);
}

#div-botoes .itens:hover {
  background-color: var(--azul-oxford);
}
