.coluna {
  display: flex;
  flex-direction: column;
  width: 15vw;
  border: 5px solid #e1e1e1;
  border-radius: 4px;
  --cor-biblia: #5f97ff;
  --cor-musica: #fff6a2;
  --cor-titulo: #cd69fc;
  --cor-imagem: #5fbb82;
  --cor-video: #ff9797;
  --cor-forte-biblia: #0059ff;
  --cor-forte-musica: #ffe600;
  --cor-forte-titulo: #9d00e6;
  --cor-forte-imagem: #008839;
  --cor-forte-video: #ff0000;
}

#ordem-elementos {
  width: 100%;
  padding: 4px 4px 0 4px;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

#div-botoes {
  display: flex;
  width: 100%;
  padding: 4px 4px 0 4px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#div-botoes > .itens {
  width: 100%;
}

ol {
  list-style: none;
  margin:0;
  padding:0;
  width: 100%;
}

.sublista {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.item-sublista {
  border-radius: 4px;
  padding: 5px 0 3px 12px;
  border-right: solid 12px rgba(0, 0, 0, 0);
  margin: 3px 3px 0 3px;
  min-width: 30%;
  overflow: hidden;
  white-space: nowrap;
}

.bloco-reordenar {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 3px;
}

h1 {
  border-left: 5px solid #e1e1e1;
  padding-left: 5px;
}

.itens {
  margin: 0 auto 3px;
  padding: 10px 15px;
  background:#eee;
  border-radius: 4px;
  cursor: default;
  width: 100%;
}

#slide-mestre {
  user-select: none;
  text-align: center;
}

button:focus{
  outline: white;
  box-shadow: 0 0 0 1.5px white;
}

.Texto-Bíblico {
  background: var(--cor-biblia);
}

.Música {
  background: var(--cor-musica);
}

.Título {
  background: var(--cor-titulo);
}

.Imagem {
  background: var(--cor-imagem);
}

.Vídeo {
  background: var(--cor-video);
}

.Texto-Bíblico:hover {
  background: var(--cor-forte-biblia);
}

.Música:hover {
  background: var(--cor-forte-musica);
}

.Título:hover {
  background: var(--cor-forte-titulo);
}

.Imagem:hover {
  background: var(--cor-forte-imagem);
}

.Vídeo:hover {
  background:var(--cor-forte-video);
}

.selecionado {
  /* border: 3px solid black; */
  box-shadow: 0 0 0 3px #000;
}

.placeholder {
  margin: 0px;
  border-radius: 0px;
  padding-top: 35px;
}

.div-excluir {
  position: relative;
  width: 100%;
}

.excluir-elemento {
  font-size: 80%;
  font-weight: 600;
  right: 3%;
  top: 5px;
  padding: 0 2.5px 0 2px;
  position: absolute;
  opacity: 0;
  text-align: center;
  border: 0.2px solid black;
  border-radius: 2.5px;
  line-height: 100%;
  background-color: darkgray;
}

.excluir-elemento:hover {
  opacity: 60%;
}