#galeria {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

}

.div-img {
    position: relative;
    margin-left: 10px;
    height: 20vh;
    width: 30vh;
}

.imagem-galeria {
    height: 100%;
    width: 100%;
    position: absolute;
}

.texto-mini-preview {
    position: relative;
    font-size: '150%';
    font-weight: 600;
    text-align: center;
    line-height: 20vh;
}
