#galeria {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

}

.div-img {
    margin-left: 10px;
    height: 20vh;
    width: 30vh;
}

.imagem-galeria {
    height: 100%;
    width: 100%;
}
