#botao-mostrar-galeria {
    overflow: hidden;
    position: fixed;
    z-index: 90;
}

.container-carrossel-fundos {
    position: relative;
    overflow: visible;
    pointer-events: auto;
}

.galeria-fundos {
    height: 24vh;
    margin-top: 3.8vh;
    flex: 0 0;
    display: flex;
    position: relative;
    background-color: var(--azul-forte);
}

.div-img {
    position: relative;
    margin: 0 0 0 1vh;
    height: 85%;
    width: 14vw;
    border-radius: var(--round-border-grande);
}

.div-img:hover {
    transform: scale(1.08);
    margin: 0 2vh 0 3vh
}

.imagem-galeria {
    height: 100%;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--round-border-grande);
}

.texto-mini-preview {
    position: absolute;
    font-size: '150%';
    font-weight: 600;
    text-align: center;
    z-index: 20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--round-border-grande);
}

#botao-enviar-fundo {
    background-color: var(--platinum-forte);
    font-size: 1.7vw;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#botao-enviar-fundo:hover {
    background-color: #dddddd;
}

.colapsar-menu.galeria {
    bottom: 0.7vh;
    left: 0.7vh;
}